body{
    background-color: rgb(252, 252, 243);
}
#top{
    background-image:url(top.avif);
    
   text-align: center;
   padding: 3% 15% 8%;

    
    
    
}
.navbar{

display: flex;
justify-content: space-between;
padding: 3% 7%;

}
.navbar:hover{
    color:#111;
}
.nav-item{
    display: inline-block;
    color: white;
    list-style: none;
    padding: 8px;
    cursor: pointer;
}
.nav-brand-item{
    text-decoration: none;
    color: #fff;
}



body{
    text-align: center;
}
 #search {
   
    padding:15px;
   
    width: 80%;
    margin: 5% 0%;
    border-radius: 8px;
    position: relative;
}

.nav-brand{
    margin-top: 20px;
    margin-left: 8px;
    font-weight: 900;
    
}
.toggel{
    color: white;
    display: none;
}
.cross{
    color: white;
    display: none;
}
a{
    text-decoration: none;
    color: white;
font-size: large;
font-weight: 900;
    
}
.title{
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}
.intro{
    color: #fff;
    font-weight: 500;
    line-height: 2;
    font-size: 20px;
}

    
    
    
    /* position: absolute;
    bottom: 445px;
    right: 150px; */
    

#loc{
    height: 35px;
    width: 362px;
    border-radius: 8px;
    
}
.search-btn{
    height: 38px;
    border: 2px;
    /* border-radius: 8px; */
    position: absolute;
    z-index: 1;
    top: 112%;
    height: 16%;
    right: 64%;
    border: none;

    
}

.mid-part{
    padding: 1% 15% 3%;
}
.food-location{
padding: 3% 10%;
}
.card-title{
    font-size: 22px;
    text-align: left;
}
.card{
    
}

.image{
    width: 30%;
}
.image:hover{
    opacity: 0.33;
}

.row{
    overflow: hidden;
}
.photo{
    max-width: 15%;
    height: initial;
}
.header{
    
    text-align:left;
    
    color: #111;
    
    
    
}

.one,.two,.three,.four{
    width: 15vw;
}
.icon{
    position: absolute;
    left: 93%;
    top: 45%;
}
.loc{
    margin: 4% 0 2%;
}
.discription{
    text-align: center;
}
.discription p{
    padding: 3%;
    line-height: 2;
}
.app-details{
    font-size: 60px;
    padding-top: 8%;
}
.radio{
    padding: 4% 0 4% 4%;
    font-size: 24px;
}
#mobile:checked::after{
   background-color: pink;
}

.email{
    padding:1%;
    width: 40%;
    display: none;
}
.mobile{
    position: relative;
    padding: 1%;
    
       
        width: 40%;
        text-align: center;
    
}
#select{
    position:absolute;
   z-index: 1;
   padding: 0.5%;
   border-bottom: none;
   border-right: 0.8px;
   
}
.link-btn{
    padding: 1%;
    width: 20%;
    margin-left: 2%;
   border-radius: 5px;
}
.play-btn{
    padding: 1%;
    margin:  4% 2%;
    width:20%;
    border-radius: 5px;
}
.ply{
    width: 25vw;
    padding:10% 8% 8%;
    position: relative;
    left: 55%;
}
.key{
    display: none;
}
.key-1{
    display: none;
}
.key-2{
    display: none;
}
.isro{
    position: absolute;
    top: 4%;
    left: 98%;
}
.tisro{
    position: absolute;
    top: 4%;
    left: 98%;
    display: none;
}

.isro-1{
    position: absolute;
    top: 4%;
    left: 98%;
}
.tisro-1{
    position: absolute;
    top: 4%;
    left: 98%;
    display: none;
}

.isro-2{
    position: absolute;
    top: 4%;
    left: 98%;
}
.tisro-2{
    position: absolute;
    top: 4%;
    left: 98%;
    display: none;
}
/* footer in my web site */
.footer{
    padding-top: 4%;
    /* background-color: rgb(144, 151, 184); */
}
footer{
    background-color: rgb(144, 151, 184);
    padding: 0;
}
.footerheader{
    display: flex;
    justify-content: space-between;

}
.footer-btn{
   border-radius: 8%;
    
}
.footer-foot{
    padding-top: 3%;
}
.footer-all{
    list-style: none;
}
.social-links{
    display: inline-block;
    padding-bottom: 3%;
}
.footer-play{
    margin: 4%;
    padding: 3%;
    width: 45%;
    border-radius: 8%;
    
}
/* places */


@media (max-width:1000px) {
    #top{
        text-align: center;
    }
    .toggel{
        display: block;
    }
    .nav-item{
        display: none;
    }
    .ply{
        width: 100vw;
    padding:0;
    text-align: center;
    /* position: relative;
    left: 55%; */
    }

    
}
@media (max-width:1000px) {
    .intro{
        text-align: center;
    }
    
}
@media (min-width:1000px) {
   .nav-item{
    display: inline-block;
   }
}



/* jay shankar sah-37;
rinku devi-32
aman-8 */